body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#search-container {
    margin-top: 20px;
}

input, button {
    padding: 10px;
    margin: 5px;
}

#pokemon-info {
    margin-top: 20px;
}

img {
    width: 150px;
    height: auto;
}
